[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HistDat"]
	path = HistDat
	url = https://github.com/multimeric/histdat
[submodule "TidyMultiqc"]
	path = TidyMultiqc
	url = https://github.com/multimeric/tidymultiqc
